doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/js/bootstrap.min.js')
body
    .bodykinda
      .navbar.navbar-default
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            | mhayes.co.uk - Matt Hayes
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='#') Home
            li
              a(href='about') About
      //
         Navigation Bar 
    .jumbotron
      h1 City Router Hub
      p
        | Do you wanna get connected to internet securely on the go for no money..?, meaning always connected, even if you don't have any device...?, and wondering if this is ever possible. Well you are not alone, you are on the right spot.
      p
        a.btn.btn-primary.btn-lg(href='about') Learn More
    .col-lg-4
      .panel.panel-default
        .panel-heading
          h4  Join us. 
        .panel-body
          | Today if you make a choice,  you are going to get ever connected to internet all the time through out your life, even if you go to villages, subways, paths, metros, bus, Gym, anywhere it follows. Guys isn't that exciting?, do you wanna know how, take a minute and click on above Learn More link.
    .col-lg-4
      .panel.panel-default
        .panel-heading
          h4 Always Connected.
        .panel-body
          | You are absolutely free of money, credit cards, debit cards, paypal, coupon cards what so ever. This service is amazingly free and free only for you, if you register today. Do you know how many people out there paying lot of money but not getting exciting service, they always had problems with speed, connectivity.
    .col-lg-4
      .panel.panel-default
        .panel-heading
          h4 Who are we? 
        .panel-body
          | We are top 10 listed Unfortune 500 companies, always wanted to give people service with no money. There are similar services who can offer like free wifis, metro wifi. Well their reach is limited. We are unlimited. Anywhere you go, our services will follow. We are on different world and different platforms, nobody can match us.