doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/js/bootstrap.min.js')
  body
    extends layout
    block content
    div.wrapper
      form.form-signin(method="post", id="loginForm")
      h2.form-signin-heading Please login
      input(class="form-control", id="username", type="text", name="User", placeholder="Enter your username")
      input(class="form-control", id="password", type="password", name="Password", placeholder="Password")
      input(class="btn btn-lg btn-primary btn-block" type="submit", value="Log In")
    div.footer
